<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#use-cases">Introduction</a></li>
    <li><a href="#usecases">Use Cases</a></li>
    <ol>
      <li><a href="#calculateperformance">Calculate Performance</a></li>
        <ol type="A">
          <li><a href="#uc1A">Calculate predicted performance</a></li>
          <li><a href="#uc1B">Calculate expected performance</a></li>
          <li><a href="#uc1C">Account for snow and soiling</a></li>
        </ol>
      <li><a href="#compareperformance">Compare Performance</a></li>
        <ol type="A">
          <li><a href="#uc2A">Compare predicted and actual performance</a></li>
          <li><a href="#uc2B">Compare predicted and expected performance</a></li>
          <li><a href="#uc2C">Compare expected and actual performance</a></li>
          <li><a href="#uc2D">Calculate weather-adjusted performance ratio</a></li>
        </ol>
      </ol>
      <li><a href="#analyzeperformance">Analyze Performance</a></li>
        <ol type="A">
          <li><a href="#uc3A">Disaggregate Sources of Performance Differences</a></li>
          <li><a href="#uc3B">Evaluate Sensors</a></li>
        </ol>
      </ol>
    </ol>
  <li><a href="#capabilities">Functional capabilities</a></li>
    <ol start="4">
    </ol>
</ul>
</div>
