<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#use-cases">Introduction</a></li>
    <li><a href="#usecases">Use Cases</a></li>
    <ol>
      <li><a href="#calculateperformance">Calculate Performance</a></li>
        <ol type="A">
          <li><a href="#uc1a">Calculate predicted performance</a></li>
          <li><a href="#uc1b">Calculate expected performance</a></li>
          <li><a href="#uc1c">Account for snow and soiling</a></li>
        </ol>
      <li><a href="#compareperformance">Compare Performance</a></li>
      </ol>
      <li><a href="#analyzeperformance">Analyze Performance</a></li>
      </ol>
      <li><a href="#evaluatesensors">Evaluate Sensors</a></li>
      </ol>
  <li><a href="#capabilities">Functional capabilities</a></li>
    <ol start="5">
    </ol>
</ul>
</div>
