<div class="contents-menu">
<h2>Contents</h2>
<ul class="contents-list">
  <li><a href="#dashboard">Dashboard</a></li>
  <li><a href="#system">Systems</a>
     <ul>
<li><a href="#performancemodel">System performance models</a>
      <ul>
      <li><a href="#pvsyst">Pvsyst-like</a></li>
      <li><a href="#pvwatts">PVWatts</a></li>
      <li><a href="#SAM">SAM</a></li>
      </ul>
 </li>
      <li><a href="#inverter">Inverters</a></li>
      <li><a href="#array">Arrays</a></li>
      </ul>
  </li>
  <li><a href="#calculateperformance">Calculate performance</a>
      <ul>
      <li><a href="#weatherdataupload">Upload Weather Data</a></li>
      <li><a href="#calculationresults">Calculation Results</a></li>
      </ul>
  </li>
  <li><a href="#compareperformance">Compare Performance</a>
      <ul>
      <li><a href="#actualtoreference">Compare Actual to Reference</a></li>
          <li><a href="#comparehourly">Compare hourly</a></li>
          <li><a href="#comparemonthly">Compare monthly</a></li>
      <li><a href="#uploadactual">Upload Actual and Reference Data</a></li>
      </ul>
  </li>
  <li><a href="#api">API</a></li>
</ul>
</div>
